:root {
  --green: #3bd08c;
  --gray: #424242;
  --lightGray: #dbdad1;
  --darkGray: #414141;
  --bg: #ededed;
  --bodyBg: #333;
  --white: #F5F5F5;
  --red: #FF423D;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  background: var(--bodyBg);
  color: var(--white);
  margin-top: 60px;
}