@import './base.css';
@import './loading';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

p,
li {
  font-weight: 300;
  font-size: 14px;
}

p .fa {
  font-size: 18px;
}

p .fa-play-circle-o {
  margin-left: 5px;
}

[ng-click] {
  cursor: pointer;
}

a {
  color: var(--green);
}

a:hover,
a:focus {
  color: var(--green);
}

b,
strong {
  font-weight: 400;
}

ul,
ol {
  padding-left: 15px;
}

ol li {
  padding-bottom: 23px;
}

hr.gap {
  border-width: 0;
  height: 100px;
}

h2+h4 {
  line-height: 1.7;
}

.navbar {
  border-radius: 0;
}

.navbar-brand {
  padding: 3.5px 15px;
}

.navbar-collapse.in {
  overflow: visible;
}

.help-block,
.text-muted {
  color: var(--lightGray);
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: var(--red);
}

.has-error .form-control {
  border-color: var(--red);
}

.fa {
  color: var(--lightGray);
}

.fa:hover {
  color: var(--gray);
}

a:hover .fa {
  color: var(--gray);
}

.fa.green {
  color: var(--green);
}

.fa-trophy {
  color: #fff;
}

.fa-chevron-up,
.fa-chevron-down {
  color: #fff;
  opacity: 0.7;
}

.text-right .form-inline {
  /* filter shows */
  /* .form-control:hover {
    &:not(:focus) {
      @include input-placeholder {
        color: var(--lightGray);
      }
    }
  } */
}

.text-right .form-inline .form-control {
  background: var(--darkGray);
  border-color: var(--bodyBg);
  color: var(--white);
  /* @include input-placeholder {
    color: var(--bodyBg);
  } */
}

.text-right .form-inline .form-control:hover+.fa-search,
.text-right .form-inline .form-control:focus+.fa-search {
  color: var(--lightGray);
}

.text-right .form-inline .fa-search {
  color: var(--bodyBg);
}

.search .fa-search {
  position: absolute;
  top: 10px;
  left: 15px;
  color: var(--lightGray);
}

.search:hover .fa-search {
  color: var(--darkGray);
}

.search input[type=search] {
  border-radius: 30px;
  padding-left: 40px;
}

.search input[type=search].input-lg {
  padding-left: 54px;
}

.greenbg {
  background: var(--green);
  color: #fff;
  padding: 10px 25px;
  position: relative;
  z-index: 1;
}

.greenbg h2,
.greenbg h3 {
  margin: 0;
}

.greenbg h3 {
  opacity: 0.9;
}

.greenbg select {
  color: #000;
}

.border-right {
  border-right: 1px dotted rgba(var(--bodyBg), 0.1);
}

.tvshow {
  background: #fff;
  color: #333;
  padding: 10px;
}

.tvshow.seen {
  background: var(--bg);
  border-left: 3px solid var(--green);
  margin-left: -18px;
  border-right-color: var(--bg);
}

.tvshow p {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tvshow .fa-spin {
  font-size: 19px;
}

.tvshow .fa-check-circle,
.tvshow .fa-times-circle,
.tvshow .fa-plus-circle {
  font-size: 20px;
}

.tvshow .fa-arrow-circle-up {
  width: 21px;
  text-align: center;
}

.banner {
  background: none;
  color: var(--white);
  padding-bottom: 0;
  padding-top: 9px;
}

.banner h4 {
  margin-bottom: 4px;
}

.footer {
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid var(--darkGray);
}

.footer .fa {
  line-height: normal;
}

.form-control:focus {
  border-color: var(--white);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(59, 208, 140, 0.6);
}

.modal-content {
  background: var(--bodyBg);
}

.modal-content img.pull-right {
  margin-left: 10px;
  margin-bottom: 6px;
}

.modal-footer {
  text-align: center;
}

.modal-header,
.modal-footer {
  border-color: transparent;
}

.close {
  color: var(--white);
  opacity: 0.8;
  text-shadow: none;
}

.btn-success {
  background-color: var(--green);
  border-color: var(--green);
}

.btn-success:hover {
  /* background-color: darken(var(--green), 5%); */
  border-color: var(--green);
}

.tooltip {
  text-shadow: none;
  white-space: nowrap;
  text-transform: none;
  font-weight: 300;
}

.fa-clock-o:hover {
  color: inherit;
}

.half-clock,
.three-quarter-clock {
  position: relative;
}

.half-clock:after,
.three-quarter-clock:after {
  position: absolute;
  content: "";
  left: 0.5em;
  width: 0.5em;
  height: 1em;
  background-color: var(--bodyBg);
}

.three-quarter-clock:after {
  top: 0.5em;
}

.tvshow .half-clock:after,
.tvshow .three-quarter-clock:after {
  background-color: #fff;
}

.poster {
  display: inline-block;
  position: relative;
}

.poster .info {
  display: none;
  position: absolute;
  top: 20px;
  text-align: center;
  width: 100%;
}

.poster:hover .info,
.poster:focus .info {
  display: block;
}

.poster:hover img,
.poster:focus img {
  opacity: 0.3;
}

.fa-amazon {
  position: relative;
  bottom: -1.5px;
}

.freeForPrime {
  position: relative;
}

.freeForPrime:after {
  position: absolute;
  right: 0px;
  bottom: -6px;
  content: "✔";
  color: #fc9a18;
}

.freeForPrime:hover:before {
  position: absolute;
  left: 18px;
  bottom: -6px;
  content: "Free with Prime";
  color: #51a7c8;
  font-weight: 400;
  font-style: italic;
  background: #fff;
}

.modal-content .freeForPrime:hover:before {
  display: none;
}

.fb-page {
  margin-top: -31px;
  width: 100% !important;
}

/* http://stackoverflow.com/questions/29429296/responsive-width-facebook-page-plugin */
.fb-page span,
.fb-page span iframe[style] {
  width: 100% !important;
}

/* remove netlify badge */
noscript+a,
noscript+a+div,
noscript+a+div+div {
  display: none !important;
}